ion-button{
    height: 57px;
}
.price{
    font-size: 25px;
    font-weight: bold;
    del{
        font-size: 14px!important;
    }
}
ion-card-content{
    ion-card-title{
        font-size: 18px;
        font-weight: 500;
        color: #353326;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    ion-card-subtitle{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 500;
        color: #8B8B8B!important;
    }
    
}
.qnty{
    display: flex;
    padding: 10px 0;
    ion-icon{
        font-size: 25px;
        color: #8B8B8B;
    }
    ion-input{
        flex: none;
        height: 25px;
        text-align: center;
        width: 40px;
        font-size: 20px;
    }
}
ion-header{
    ion-icon{
        font-size: 32px;
    }
}