<ion-header>
  <ion-toolbar color="orange">
<ion-buttons slot="start">
  <ion-back-button></ion-back-button>
</ion-buttons>
<ion-title>Signup your account</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding color="medium">
  <form [formGroup]="signupfrm">
  <ion-item lines="none" color="medium">
    <ion-label position="floating">First name</ion-label>
    <ion-input type="text" name="fname" formControlName="fname" #fname></ion-input>
  </ion-item>
  <ion-item lines="none" color="medium">
    <ion-label position="floating">Last name</ion-label>
    <ion-input type="text" name="lname" formControlName="lname" #lname></ion-input>
  </ion-item>
  <ion-item lines="none" color="medium">
    <ion-label position="floating">Phone no</ion-label>
    <ion-input type="tel" name="mobile" formControlName="mobile" #mobile></ion-input>
  </ion-item>
  <ion-item lines="none" color="medium">
    <ion-label position="floating">Email ID</ion-label>
    <ion-input type="email" name="email" formControlName="email" #email></ion-input>
  </ion-item>
  <ion-item lines="none" padding-bottom color="medium">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" name="pwd" formControlName="pwd" #pwd></ion-input>
  </ion-item>

  <ion-item lines="none" color="medium">
    <ion-button no-margin color="success"  [disabled]="!signupfrm.valid" (click)="onSubmit()" expand="full">Sign up</ion-button>
  </ion-item>
</form>
</ion-content>

<ion-footer padding text-center>
  <p no-margin>Have an account? <a href="#">Login</a></p>
</ion-footer>