ion-input{
    border-bottom: solid 1px #ccc;
}
ion-button{
    width: 100%;
    height: 45px;
    font-size: 15px;
}
a{
    color: #C32A6E;
}
.item-has-focus .label-floating.sc-ion-label-md-h{
    color: #000;
}