<ion-header>
  <ion-toolbar color="orange">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/productlist"></ion-back-button>
        </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
  <ion-toolbar color="orange" class="search ion-padding-bottom ion-text-center" >
      <div><ion-icon name="contact"></ion-icon></div>
    <ion-label color="light"><strong>{{user_name}}</strong></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="medium">

  Profile page

</ion-content>

<ion-footer class="ion-padding-top">
    <div class="ion-text-center">
    <ion-button color="success" class="ion-margin-bottom" (click)="shoppingservice.logout()" routerLink="/" routerDirection="root">Logout</ion-button>
  </div>
   
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom" color="danger">
              <ion-tab-button (click)="shoppingservice.navigateCart()">
                <ion-icon name="cart" color="light"></ion-icon>
                <ion-label color="light">Basket</ion-label>
              </ion-tab-button>
          
              <ion-tab-button (click)="shoppingservice.navigateContact()">
                <ion-icon name="pin" color="light"></ion-icon>
                <ion-label color="light">Contact us</ion-label>
              </ion-tab-button> 
            </ion-tab-bar>
          </ion-tabs>
    </ion-toolbar>
  </ion-footer>
