<ion-header>
    <ion-toolbar color="orange">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Product details</ion-title>
  <ion-buttons slot="end" padding (click)="shoppingservice.navigateLogin()">
      <ion-icon name="contact"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-spinner *ngIf="spinner"></ion-spinner>
<ion-content padding *ngIf="content">
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide *ngFor="let image of product.images">
    <ion-img [src]="image.src"></ion-img>
  </ion-slide>
</ion-slides>



<h1>{{product.name}}</h1>
<p [innerHTML]="product.description"></p>
</ion-content>
<!-- </ion-content>
  <ion-img *ngFor="let image of product.images" [src]="image.src"></ion-img>
  <h1>{{product.name}}</h1>
  <p [innerHTML]="product.description"></p>
  
</ion-content> -->


<ion-footer>

  <ion-grid no-padding>
      <ion-row>
          <ion-col no-padding><ion-button no-margin (click)="shoppingservice.navigateCart()" color="success" expand="full">Check out</ion-button></ion-col>
          <ion-col no-padding><ion-button no-margin (click)="addtocart(product)" color="warning" expand="full">Add to cart</ion-button></ion-col>
      </ion-row>
  </ion-grid> 
    
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom" color="danger">
              <ion-tab-button (click)="shoppingservice.navigateCart()">
                <ion-icon name="cart" color="light"></ion-icon>
                <ion-label color="light">Basket</ion-label>
              </ion-tab-button>
          
              <ion-tab-button (click)="shoppingservice.navigateContact()">
                <ion-icon name="pin" color="light"></ion-icon>
                <ion-label color="light">Contact us</ion-label>
              </ion-tab-button>
          
             
            </ion-tab-bar>
          </ion-tabs>
    </ion-toolbar>
  </ion-footer>