<ion-header>
  <ion-toolbar color="orange">
    <ion-title text-center><h1>OFA</h1></ion-title>
    <div slot="end" padding></div>
  </ion-toolbar>
  <ion-toolbar color="orange" class="search">
    <ion-label color="light">Welcome <strong>Shara</strong></ion-label>
    <ion-searchbar placeholder="Search products"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium">

    <ion-toolbar color="medium">
        <ion-row class="category">
            <ion-col size="12" >
                <ion-segment scrollable [(ngModel)]="catemodel">
                    <ion-segment-button (ionSelect)="segmentButtonClicked($event,category)" text-center [ngStyle]="{'background-color':category.description}" *ngFor="let category of categories" [value]="category.id">
                        <ion-thumbnail *ngIf="category.image != null"><img [src]="category.image['src']" [alt]="category.image['name']"></ion-thumbnail>  
                        <ion-label>{{category.name}}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
      </ion-toolbar>

    <h4>{{selected_cate}}</h4>
    <ion-spinner *ngIf="spinner"></ion-spinner>
    <ion-card color="light" (click)="getProducts(product)" *ngFor="let product of productList" >
        <ion-card-content *ngIf="content">
          <ion-grid no-padding>
              <ion-row>
                  <ion-col size="4" no-padding>
                    <img *ngFor="let image of product.images" [src]="image.src" alt="">
                  </ion-col>
                  <ion-col size="8" padding-start>
                      <ion-card-title>{{product.name}}</ion-card-title>
                      <ion-card-subtitle [innerHtml]='product.description.substring(0, 50)' padding-bottom></ion-card-subtitle>
                      <div class="price" [innerHtml]='product.price_html'></div>
                  </ion-col>
                </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
   
</ion-content>

<ion-footer>
   
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom" color="danger">
              <ion-tab-button (click)="shoppingservice.navigateCart()">
                <ion-icon name="cart" color="light"></ion-icon>
                <ion-label color="light">Basket</ion-label>
              </ion-tab-button>
          
              <ion-tab-button (click)="shoppingservice.navigateContact()">
                <ion-icon name="pin" color="light"></ion-icon>
                <ion-label color="light">Contact us</ion-label>
              </ion-tab-button>
          
              <ion-tab-button (click)="shoppingservice.navigateSettings()">
                <ion-icon name="settings" color="light"></ion-icon>
                <ion-label color="light">Setting</ion-label>
              </ion-tab-button>

              
            </ion-tab-bar>
          </ion-tabs>
    </ion-toolbar>
  </ion-footer>