<ion-header>
  <ion-toolbar color="orange">
    <ion-title text-center><h1>OFA</h1></ion-title>
    <div slot="end" padding></div>
  </ion-toolbar>
  <ion-toolbar color="orange" class="search">
    <!-- <ion-item class="formControl">
      <span item-right><ion-icon name="search"></ion-icon></span>
      <ion-input class="mainInputControl" placeholder="Search Products" color="light"></ion-input>
    </ion-item> -->
    <ion-label color="light">Welcome <strong>Shara</strong></ion-label>
    <ion-searchbar placeholder="Search products"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium">
    <h4>Rice</h4>

    <ion-card color="light" (click)="getProducts()">
        <ion-card-content>
          <ion-grid no-padding>
              <ion-row>
                  <ion-col size="4" no-padding>
                    <img src="../../assets/sample-product.png" alt="">
                  </ion-col>
                  <ion-col size="8" padding-start>
                      <ion-card-title>bb Popular Rice</ion-card-title>
                      <ion-card-subtitle padding-bottom>Raw, Sona Masoori, 25 kg Bag</ion-card-subtitle>
                      <div class="price">1269.00</div>
                  </ion-col>
                </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card color="light">
        <ion-card-content>
          <ion-grid no-padding>
              <ion-row>
                  <ion-col size="4" no-padding>
                    <img src="../../assets/sample-product.png" alt="">
                  </ion-col>
                  <ion-col size="8" padding-start>
                      <ion-card-title>bb Popular Rice</ion-card-title>
                      <ion-card-subtitle padding-bottom>Raw, Sona Masoori, 25 kg Bag</ion-card-subtitle>
                      <div class="price">1269.00</div>
                  </ion-col>
                </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card color="light">
        <ion-card-content>
          <ion-grid no-padding>
              <ion-row>
                  <ion-col size="4" no-padding>
                    <img src="../../assets/sample-product.png" alt="">
                  </ion-col>
                  <ion-col size="8" padding-start>
                      <ion-card-title>bb Popular Rice</ion-card-title>
                      <ion-card-subtitle padding-bottom>Raw, Sona Masoori, 25 kg Bag</ion-card-subtitle>
                      <div class="price">1269.00</div>
                  </ion-col>
                </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom" color="danger">
              <ion-tab-button tab="cart">
                <ion-icon name="cart" color="light"></ion-icon>
                <ion-label color="light">Basket</ion-label>
              </ion-tab-button>
          
              <ion-tab-button tab="pin">
                <ion-icon name="pin" color="light"></ion-icon>
                <ion-label color="light">Contact us</ion-label>
              </ion-tab-button>
          
              <ion-tab-button tab="setting">
                <ion-icon name="settings" color="light"></ion-icon>
                <ion-label color="light">Setting</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
    </ion-toolbar>
  </ion-footer>